body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }

.forms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-section,
  .login-section {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    text-align: center;
  }
  
  .register-section h2,
  .login-section h2 {
    margin-bottom: 20px;
  }
  
  .register-section input[type="text"],
  .register-section input[type="password"],
  .login-section input[type="text"],
  .login-section input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .register-section input[type="submit"],
  .login-section input[type="submit"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-section input[type="submit"]:hover,
  .login-section input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    font-size: 18px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }